body {
    background-color: whitesmoke;
    color: black;
    font-family: Arial, sans-serif;
    margin: 0;
}

.encabezado {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 4px solid #f8640a;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 15px;
}

h1 {
    color: black;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.contenedor-cartas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;      
    padding: 40px 20px;
}

.carta {
    width: 300px;
    border: 1px solid white;
    border-radius: 10px;
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: transform ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.carta:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
    border-color: #f8640a;
}

.carta:hover img {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}


.carta h3 {
    text-align: center;
    margin: 15px 0 10px 0;
    color: #333;
}


.carta img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    padding: 15px;
    background-color: white;
}

.text-card {
    height: 180px;
    overflow-y: auto;
    padding: 15px;
    border-top: 1px solid #eee;
    text-align: center;
}

h2 {
    font-family: system-ui, sans-serif;
    text-align: center;
    margin-top: 30px;
}